---
- hosts: all
  vars:
    ansible_user: "{{ lookup('env', 'user') }}"
    ansible_password: "{{ lookup('env', 'password') }}"
    ansible_connection: "{{ lookup('env', 'connection') }}"
    ansible_shell_type: "{{ lookup('env', 'shell') }}"
    ansible_port: "{{ lookup('env', 'ansible_port', errors='ignore') }}"
    ansible_winrm_scheme: "{{ lookup('env', 'ansible_winrm_scheme', errors='ignore') }}"
    ansible_winrm_transport: "{{ lookup('env', 'ansible_winrm_transport', errors='ignore') }}"
    ansible_winrm_server_cert_validation: "{{ lookup('env', 'ansible_winrm_server_cert_validation', errors='ignore') }}"
  roles:
    - role: nxlog